#songForm{
    border-style: solid;
    border: 1px solid black;
    margin-left: 15px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#studio{
    font-size: 20px;
}

#studio button{
    font-size: 17px;
}

body {
    font-family: sans-serif;
}